@{
    ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
    <h2>This is a Room Reservation System with Service Oriented Architecture (SOA)</h2>
</div>
<div class="alert alert-info">
    <div class="alert-heading" style="font-size: 24px;">
        <p>
            Welcome to using this application.
        </p>
    </div>
    <div style="font-family: 'Segoe UI'; font-size: 18px;">
        <p>
            Have Fun!!!
        </p>
       
    </div>
</div>
